@font-face {
    font-family: 'RedRose';
    src: url('./assets/fonts/RedRose-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .testimonials-section {
    // position: relative;
    max-width: 1380px;
    margin: 0 auto;
    padding: 40px;
  
    .testimonials-content {
      text-align: center;
  
      h2 {
        font-family: 'Lato', sans-serif;
        font-size: clamp(32px, 4vw, 42px);
        color: #d70017; // Couleur rouge pour le titre
        margin-bottom: 20px;
  
        span {
          color: red; // Accent sur certains mots si nécessaire
        }
      }
  
      p {
        font-family: 'RedRose', sans-serif;
        font-size: clamp(16px, 2vw, 24px);
        color: #254295;
        line-height: 1.6;
        margin-bottom: 30px;
        font-style: italic;
      }
    }
  
    .tagembed-widget {
      width: 100%;
    //   height: auto; // Ajustable selon vos besoins
      margin-top: 20px;
  
      iframe {
        border-radius: 10px; // Bordures arrondies pour le widget
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Ombre pour esthétique
      }
    }
  }
  