.marques-section {
    padding: 20px;
    text-align: center;
    @media (min-width: 768px) {
        padding: 0;
    }
  
    h2 {
      font-size: clamp(24px, 4vw, 42px);
      margin-bottom: 15px;
      color: #d70017;
      font-family: RedRose;
    }
  
    p {
      font-size: 17px;
      line-height: 1.6;
      margin-bottom: 20px;
      color: #254295;
      font-style: italic;
      font-weight: 700;
      font-family: Lato;
      line-height: 24px;
      letter-spacing: 1px;
    }
  
    .marques-logos {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      background: white;
      border-radius: 10px;
    
      @media (min-width: 768px) {
        border-radius: 0;
    }
  
      img {
        width: 90px;
        height: auto;
      }
  
      a {
        display: inline-block;
      }
    }
  
    @media (max-width: 768px) {
        
      .marques-logos {
        gap: 10px;
        padding: 10px;
        img {
          width: 90px;
        }
      }
  
      h2 {
        font-size: 34px;
      }
  
      p {
        font-size: 14px;
      }
    }
  }
  