// main.scss
@import 'variables';
@import 'mixins';
@import 'base';
@import 'header';
@import 'services';
@import 'depannage-section';
@import 'assurance-section';
@import 'services-section';
@import 'avis-google';
@import 'pre-footer';
@import 'footer';
@import 'marques-section';
@import 'mentions-legales';
@import 'faq';
@import 'backgroundImage';
